!!!

- def navbar_each
  - yield ['/',"Home"]
  - yield ['/People/',"People"]
  - yield ['/Hackerspace/',"Hackerspace"]
  - yield ['/Tutoring/', "Tutoring"]
  - yield ['/Events/', "Events"]

%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title
      - if @item[:title]
        = @item[:title] + ' - '
      UNC Computer Science Club
    %link{:rel => 'stylesheet', :href => '/style.css'}
    <!--[if lte IE 8]>
    <script src="/ie8-html5.js"></script>
    <![endif]-->

  %body
    #wrapper
      %header
        #banner-container
          %a{:href => ('/' unless @item.identifier == '/')}
            %img{:src => ('/csclub-logo-566.png'), :alt => "UNC Computer Science Club" }
        %nav
          %ul
            - navbar_each do |id, text|
              - isself = (@item.identifier == id)
              %li{:id => ("selfnav" if isself)}
                %a{:href => (id unless isself)}
                  =text

      %article
        - if @item[:title]
          %h1= @item[:title]

        = yield

      %footer
        %ul
          %li
            = "The "
            %a{:href => 'https://github.com/unc-csclub/csclub-web'}<
              source code for this Web site
            = " is available on GitHub."
