!!!

- navbarDef = { '/' => "Home",
                '/people/' => "People"}

%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title
      - if @item[:title]
        = @item[:title] + ' - '
      UNC Computer Science Club
    %link{:rel => 'stylesheet', :href => '/style.css'}

  %body
    #wrapper
      %header
        #banner-container
          %a{:href => ('/' unless @item.identifier == '/')}
            UNC Computer Science Club
        %nav
          %ul
            - navbarDef.each do |id, text|
              - isself = (@item.identifier == id)
              %li{:id => ("selfnav" if isself)}
                %a{:href => (id unless isself)}
                  =text

      %article
        - if @item[:title]
          %h1= @item[:title]

        = yield

      %footer
        %ul
          - if (@item.identifier != '/people/')
            %li
              %a{:href => '/people/#csc-admins'}
                Contact Webmasters
          %li
            = "The "
            %a{:href => 'https://github.com/unc-csclub/csclub-web'}<
              source code for this Web site
            = " is available on GitHub."
